@use "./variable" as *;

.about{
    margin-top: 20px;
    .about_heading{
        font-size: 1.8rem;
        font-family: $highlight_font;
    }
    .about_content{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: nowrap;
        .about_img{
            width:18rem;
            height:23rem;
        }
        .about_detail{
            padding-top: 20px;
            width: 23rem;
            font-size: 1rem;
            font-family: $para_font;
            line-height: 1.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .about{
        margin-top: 30px;
        .about_heading{
            font-size: 2rem;
        }
        .about_content{
            padding-top: 30px;
            display: flex;
            flex-direction: row-reverse;
            gap: 20px;
            justify-content: space-around;
            flex-wrap: wrap;
            .about_img{
                width:19rem;
                height:24rem;
            }
            .about_detail{
                padding-top: 30px;
                width: 45vw;
            }
        }
    }
}