@use "./variable" as *;

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    // position: absolute;
    background-color:white;
    text-align:center;
    .footerButton{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footerButton_icon{
            padding: 10px 10px;
            background-color:$button_color;
            border: none;
            border-radius: 100%;
            overflow: hidden;
            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
                background-color: $button_color;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer{
        .footerButton{
            padding-top: 13px;
            padding-bottom: 13px;
            .footerButton_icon{
                padding: 20px 20px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}