@use "./variable" as *;

header{
    top:0;
    width: 100%;
    position: absolute;
    h1{
        display: inline-block;
        font-family: $highlight_font;
        font-size: 2rem;
        padding-left: 40px;
        span{
            font-family: $highlight_font;
            color:$line_color;
        }
    }
    .hamburger-lines {
        height: 26px;
        width: 32px;
        position: absolute;
        top: 10px;
        right:60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .line{
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: white;
        }
    }
    .navbar{
        display: none;
    }

}


@media screen and (min-width: 768px) {
    header{
        height:80px;
        h1{
            font-size: 3rem;
            display: inline;
        }
        .hamburger-lines {
            // visibility:hidden;
            display: none;
        }
    }

    .navbar{
        display: block;
        position: absolute;
        top: 10px;
        right:60px;
        font-size: 2.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li{
            display: inline;
            float:right;
            a{
                display: block;
                padding: 14px 16px;
                font-family: $para_font;
                font-size: 1.25rem;
                text-align: center;
                text-decoration: none;
                color: $text_color;
                &:hover{
                    background-color: $hover_color;
                }
                .active{
                    background-color: #04AA6D;
                }
            }
        }
    }

}