@use "./variable" as *;

.more{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:stretch;
    flex-wrap: nowrap;
}
.list{
    padding: 20px 20px;
    // width: 20.5rem;
    .list_heading{
        padding-top: 20px;
        font-size: 1.5rem;
        font-family: $highlight_font;
    }
    .list_content{
        padding-top: 10px;
        display: grid;
        grid-template-columns: 15fr 1fr;
        grid-template-rows: 3*1fr;
        gap: 10px;
        justify-content: space-between;
        justify-items: stretch;
        .list_item{
            display: inline-block;
            margin-bottom: 5px;
            &:hover{
                background-color: $hover_color;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .more{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    .list{
        padding: 25px 25px;
        .list_heading{
            padding-top: 20px;
            font-size: 1.7rem;
        }
        .list_content{
            padding-top: 12px;
            gap: 20px;
            .list_item{
                display: inline-block;
            }
        }
    }
}