header {
  top: 0;
  width: 100%;
  position: absolute;
}
header h1 {
  display: inline-block;
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  padding-left: 40px;
}
header h1 span {
  font-family: "Cormorant Upright", serif;
  color: #D9BEA5;
}
header .hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}
header nav {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header h1 {
    font-size: 3rem;
    display: inline-block;
  }
  header .hamburger-lines {
    display: none;
  }

  nav {
    display: inline-block;
    font-size: 2.5rem;
  }
  nav li {
    float: right;
  }
  nav li a {
    display: block;
    padding: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  nav li a :hover {
    background-color: #ddd;
  }
}
.intro {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.intro .intro_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  font-family: "Cormorant Upright", serif;
  font-size: 4rem;
}
.intro .intro_detail {
  width: 50vw;
  margin: 10px 10px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.contact {
  margin: 0 auto;
}
.contact .contact_heading {
  font-family: "Cormorant Upright", serif;
  font-size: 3.5rem;
}

.touchButton {
  margin: 0 auto;
}
.touchButton .touchButton_button {
  width: 10rem;
  height: 3rem;
  border: 2px solid #D9BEA5;
  color: white;
  background-color: #3C3636;
}

#titleLine {
  display: block;
  height: 6px;
  width: 5.8rem;
  border-radius: 10px;
  background: #D9BEA5;
}

#subtitleLine {
  display: block;
  height: 2px;
  width: 2.8rem;
  border-radius: 10px;
  background: #D9BEA5;
}

@media screen and (min-width: 768px) {
  .intro .intro_heading {
    font-size: 4.5rem;
  }
  .intro .intro_detail {
    font-size: 1.25rem;
  }

  .contact {
    margin: 0 auto;
  }
  .contact .contact_heading {
    font-size: 4rem;
  }

  .touchButton {
    margin: 0 auto;
  }
  .touchButton .touchButton_button {
    width: 15rem;
    height: 5rem;
  }

  #titleLine {
    width: 6rem;
    border-radius: 10px;
    background: #D9BEA5;
  }

  #subtitleLine {
    width: 3rem;
  }
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
}

h2 {
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  margin: 10px 10px;
  padding-top: 10px;
}

.card {
  width: 300px;
  margin-top: 20px;
  align-items: center;
}
.card .card_content {
  padding-top: 5px;
}
.card .card_content .card_img {
  width: 300px;
}
.card .card_content .card_heading {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
  display: inline-block;
}
.card .card_content .buttonGroup {
  display: inline-block;
}
.card .card_content .buttonGroup .buttonGroup_round {
  color: white;
  background-color: #3C3636;
  border: none;
  border-radius: 100%;
  font-size: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
}
.card .card_content .buttonTeam .buttonTeam_rec {
  border: none;
  color: white;
  background-color: #3C3636;
  font-size: 0.625rem;
  width: 4.1rem;
  height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }

  h2 {
    font-size: 3rem;
    margin: 10px 10px;
  }

  .card {
    width: 350px;
    margin-top: 30px;
  }
  .card .card_content {
    padding-top: 8px;
  }
  .card .card_content .card_img {
    width: 350px;
  }
  .card .card_content .card_heading {
    font-size: 2rem;
  }
  .card .card_content .buttonGroup .buttonGroup_round {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
  }
  .card .card_content .buttonTeam .buttonTeam_rec {
    font-size: 1rem;
    width: 4.5rem;
    height: 2rem;
  }
}
.about {
  margin-top: 20px;
}
.about .about_heading {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
}
.about .about_content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.about .about_content .about_img {
  width: 18rem;
  height: 23rem;
}
.about .about_content .about_detail {
  padding-top: 20px;
  width: 23rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 30px;
  }
  .about .about_heading {
    font-size: 2rem;
  }
  .about .about_content {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .about .about_content .about_img {
    width: 19rem;
    height: 24rem;
  }
  .about .about_content .about_detail {
    padding-top: 30px;
  }
}
.more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.list {
  padding: 20px 20px;
  width: 20.5rem;
}
.list .list_heading {
  padding-top: 20px;
  font-size: 1.5rem;
  font-family: "Cormorant Upright", serif;
}
.list .list_content {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 3fr;
  gap: 10px;
  justify-content: space-between;
  justify-items: stretch;
}
.list .list_content .list_item {
  display: inline-block;
  margin-bottom: 5px;
}
.list .list_content .list_item:hover {
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
  .more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .list {
    padding: 25px 25px;
  }
  .list .list_heading {
    padding-top: 20px;
    font-size: 1.7rem;
  }
  .list .list_content {
    padding-top: 12px;
    gap: 20px;
  }
  .list .list_content .list_item {
    display: inline-block;
  }
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
footer .footerButton {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footerButton .footerButton_icon {
  padding: 10px 10px;
  background-color: #3C3636;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
footer .footerButton .footerButton_icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #3C3636;
}

@media screen and (min-width: 768px) {
  footer .footerButton {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  footer .footerButton .footerButton_icon {
    padding: 20px 20px;
  }
  footer .footerButton .footerButton_icon img {
    width: 30px;
    height: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  background-color: rgba(19, 19, 19, 0.913);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
}
body main {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */