@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.header {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
}
.header__title {
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
  padding: 14px 16px;
}
.header__title--first {
  font-family: "Cormorant Upright", serif;
  color: #D9BEA5;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header__menu--line {
  display: block;
  margin: 5px;
  height: 2px;
  width: 30px;
  border-radius: 10px;
  background: white;
}
.header__navbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header__menu {
    display: none;
  }
  .header__navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    overflow: hidden;
  }
  .header__navbar--text {
    text-decoration: none;
    padding: 14px 16px;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .header__navbar--text:hover {
    background-color: #ddd;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.intro__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  font-family: "Cormorant Upright", serif;
  font-size: 4rem;
}
.intro__detail {
  width: 60vw;
  margin: 10px 10px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.contact {
  margin: 0 auto;
}
.contact .contact_heading {
  font-family: "Cormorant Upright", serif;
  font-size: 3.5rem;
}

.touchButton {
  margin: 0 auto;
}
.touchButton .touchButton_button {
  width: 10rem;
  height: 3rem;
  border: 2px solid #D9BEA5;
  color: white;
  background-color: #3C3636;
}

#titleLine {
  display: block;
  height: 6px;
  width: 5.8rem;
  border-radius: 10px;
  background: #D9BEA5;
}

#subtitleLine {
  display: block;
  height: 2px;
  width: 2.8rem;
  border-radius: 10px;
  background: #D9BEA5;
}

@media screen and (min-width: 768px) {
  .intro__heading {
    font-size: 4.5rem;
  }
  .intro__detail {
    font-size: 1.25rem;
  }
  .contact {
    margin: 0 auto;
  }
  .contact .contact_heading {
    font-size: 4rem;
  }
  .touchButton {
    margin: 0 auto;
  }
  .touchButton .touchButton_button {
    width: 15rem;
    height: 5rem;
  }
  #titleLine {
    width: 6rem;
    border-radius: 10px;
    background: #D9BEA5;
  }
  #subtitleLine {
    width: 3rem;
  }
}
.project {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.project__heading {
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  margin: 10px 10px;
  padding-top: 10px;
}
.project__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 300px;
  margin-top: 40px;
}
.project__card--img {
  width: 300px;
  margin-bottom: 20px;
}
.project__card--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__card--heading--text {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
}
.project__card--heading--buttons {
  display: flex;
  gap: 10px;
}
.project__card--heading--button {
  color: white;
  font-size: 0.625rem;
}
.project__card--tipButtons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.project__card--tipButton {
  border: none;
  color: white;
  background-color: #3C3636;
  font-size: 0.625rem;
  width: 4.1rem;
  height: 1.5rem;
}

.about {
  margin-top: 20px;
}
.about .about_heading {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
}
.about .about_content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.about .about_content .about_img {
  width: 18rem;
  height: 23rem;
}
.about .about_content .about_detail {
  padding-top: 20px;
  width: 23rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 30px;
  }
  .about .about_heading {
    font-size: 2rem;
  }
  .about .about_content {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .about .about_content .about_img {
    width: 19rem;
    height: 24rem;
  }
  .about .about_content .about_detail {
    padding-top: 30px;
    width: 45vw;
  }
}
.more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.list {
  padding: 20px 20px;
}
.list .list_heading {
  padding-top: 20px;
  font-size: 1.5rem;
  font-family: "Cormorant Upright", serif;
}
.list .list_content {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: 3fr;
  gap: 10px;
  justify-content: space-between;
  justify-items: stretch;
}
.list .list_content .list_item {
  display: inline-block;
  margin-bottom: 5px;
}
.list .list_content .list_item:hover {
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
  .more {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .list {
    padding: 25px 25px;
  }
  .list .list_heading {
    padding-top: 20px;
    font-size: 1.7rem;
  }
  .list .list_content {
    padding-top: 12px;
    gap: 20px;
  }
  .list .list_content .list_item {
    display: inline-block;
  }
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
footer .footerButton {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footerButton .footerButton_icon {
  padding: 10px 10px;
  background-color: #3C3636;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
footer .footerButton .footerButton_icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #3C3636;
}

@media screen and (min-width: 768px) {
  footer .footerButton {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  footer .footerButton .footerButton_icon {
    padding: 20px 20px;
  }
  footer .footerButton .footerButton_icon img {
    width: 30px;
    height: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2a2a;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
  background-color: #2c2a2a;
}
body main {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */