@use "./variable" as *;

*{
    margin: 0;
    padding: 0;
    background-color: $background_color;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    color:$text_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    top:0;
    left:20px;
    width: 100%;
    position: absolute;
    .container {
        .hamburger-lines {
            display: block;
            height: 26px;
            width: 32px;
            position: absolute;
            top: 10px;
            right:40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .line{
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: white;
            }
        }

        h1{
            font-family: $highlight_font;
            span{
                font-family: $highlight_font;
                color:$line_color;
            }
        }
        nav{
        // Removes the bullets
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        li{
            float:left;
            a{
                display: block;
                padding: 0.5rem;
                text-align: center;
                text-decoration: none;
                color: $text_color;
                :hover{
                    background-color: $hover_color;
                }
            }
        }
        }
    }
}

main{
    padding:20px 20px;
    display: flex;
    flex-direction: column;
    margin:20px 20px;
    align-items: center;
}

.intro{
    padding:20px 20px;
    .intro_heading{
        align-content: center;
        margin: 10px 10px;
        font-family: $highlight_font;
        font-size: 5rem;
    }
    .intro_detail{
        margin: 10px 10px;
        font-family: $para_font;
    }
}

.card{
margin-top: 20px;
    h2{
        font-family: $highlight_font;
        font-size: 2rem;
        margin: 10px 10px;
    }
    .card_img{
        margin: 10px 10px;
        width:300px;
    }
    .card_heading{
        font-size: 1.8rem;
        font-family: $highlight_font;
        margin: 10px 10px;
    }
    .card_detail{
        margin: 10px 10px;
        font-family: $para_font;
    }
    .buttonGroup{
        .buttonGroup_button{
        color: $text_color;
        background-color: $button_color;
        border: none;
        // margin: 10px 10px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.625rem;
            &--box{
                padding: 10px 10px;
                border-radius: 100%;
            }
            
        }
    }

    .list{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        float: left;
        .list_item{
            margin-bottom: 5px;
            &:hover{
                background-color: $hover_color;
            }
        }
    }
}

.touchButton{
    padding: 20px 40px;
    border:2px solid $border_color;
    color: $text_color;
    background-color: $button_color;
    text-align: center;
    text-decoration: none;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    // position: absolute;
    background-color:white;
    text-align:center;
    .footerButton{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .footerButton_icon{
            padding: 10px 10px;
            background-color:$button_color;
            border-radius: 100%;
            overflow: hidden;
            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
                background-color: $button_color;
            }
        }
    }
}