@use "./variable" as *;
@use "./header";
@use "./intro";
@use "./project";
@use "./about";
@use "./list";
@use "./footer";

*{
    margin: 0;
    padding: 0;
    background-color:$background_color;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    color:$text_color;
    font-family: $para_font;


    main{
        padding:20px 20px;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
    }
}

