@use "./variable" as *;

.list{
    .list_heading{
        font-size: 1.5rem;
        font-family: $highlight_font;
        margin: 10px 10px;
    }
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    float: left;
    .list_item{
        margin-bottom: 5px;
        &:hover{
            background-color: $hover_color;
        }
    }
}