header {
  top: 0;
  left: 20px;
  width: 100%;
  position: absolute;
}
header h1 {
  font-family: "Cormorant Upright", serif;
}
header h1 span {
  font-family: "Cormorant Upright", serif;
  color: #D9BEA5;
}
header .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}
header nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header nav li {
  float: left;
}
header nav li a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: white;
}
header nav li a :hover {
  background-color: #ddd;
}

.intro {
  padding: 20px 20px;
}
.intro .intro_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  font-family: "Cormorant Upright", serif;
  font-size: 5rem;
}
.intro .intro_detail {
  margin: 10px 10px;
  font-family: "Inter", sans-serif;
}

.touchButton {
  padding: 20px 40px;
  border: 2px solid #D9BEA5;
  color: white;
  background-color: #3C3636;
  text-align: center;
  text-decoration: none;
}

.card {
  margin-top: 20px;
}
.card h2 {
  font-family: "Cormorant Upright", serif;
  font-size: 2rem;
  margin: 10px 10px;
}
.card .card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .card_content .card_img {
  margin: 10px 10px;
  width: 300px;
}
.card .card_content .card_heading {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
  margin: 10px 10px;
  display: inline-block;
}
.card .card_content .buttonGroup {
  display: inline-block;
}
.card .card_content .buttonGroup .buttonGroup_round {
  color: white;
  background-color: #3C3636;
  padding: 10px 20px;
  border-radius: 100%;
  font-size: 0.625rem;
  width: 3rem;
  height: 3rem;
}
.card .card_content .buttonTeam {
  padding-top: 20px;
}
.card .card_content .buttonTeam .buttonTeam_rec {
  color: white;
  background-color: #3C3636;
  padding: 10px 20px;
  border-radius: 100%;
  font-size: 0.625rem;
  width: 4.1rem;
  height: 1.3rem;
}

.about {
  margin-top: 20px;
}
.about .about_heading {
  font-size: 1.8rem;
  font-family: "Cormorant Upright", serif;
  margin: 10px 10px;
}
.about .card_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .card_content .card_img {
  margin: 10px 10px;
  width: 20.5rem;
  height: 25.25rem;
}
.about .card_content .card_detail {
  width: 20.5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  margin: 10px 10px;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list {
  padding: 20px 20px;
  width: 20.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list .list_heading {
  font-size: 1.5rem;
  font-family: "Cormorant Upright", serif;
  margin: 10px 10px;
}
.list .list_item {
  margin-bottom: 5px;
}
.list .list_item:hover {
  background-color: #ddd;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
footer .footerButton {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footerButton .footerButton_icon {
  padding: 10px 10px;
  background-color: #3C3636;
  border-radius: 100%;
  overflow: hidden;
}
footer .footerButton .footerButton_icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #3C3636;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgba(19, 19, 19, 0.913);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */